In [ ]:
#klasifikacija

import pandas as pd
import numpy as np

data = pd.read_csv('/content/drive/MyDrive/II kolokvium vnp-aud/bill_authentication - classification.csv')

data

      Variance  Skewness  Curtosis  Entropy  Class
0      3.62160   8.66610   -2.8073 -0.44699      0
1      4.54590   8.16740   -2.4586 -1.46210      0
2      3.86600  -2.63830    1.9242  0.10645      0
3      3.45660   9.52280   -4.0112 -3.59440      0
4      0.32924  -4.45520    4.5718 -0.98880      0
...        ...       ...       ...      ...    ...
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

[1372 rows x 5 columns]

Null vrednostii

mozes vaka: 

from sklearn.impute import SimpleImputer

import numpy as np

imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

X_train = imputer.fit_transform(X_train)

X_test = imputer.transform(X_test)

ili vaka:

 data.fillna(method='ffill', inplace=True) ako treba da se popolnat

In [ ]:
#check dali ima 0
data.isna().sum()

Variance    0
Skewness    0
Curtosis    0
Entropy     0
Class       0
dtype: int64

# Procesiranje

  u ovoj slucaj nemavme kategoriski podatoci , ako ima

  1. ako ne se potrebni - dropni gi (dolu primer)

  2. ako se potrebni enkodiraj gi so label encoder

 from sklearn.preprocessing import LabelEncoder

 labelenc = LabelEncoder()

 df['Name'] = labelenc.fit_transform(df['Name'])

In [ ]:
# podeli 
y = data['Class']
x= data.drop('Class', axis=1)

from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split( x,y, test_size=0.2)

# Skaliranje

   dali e potrebno skaliranje, ako da

  from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

 X_train = scaler.fit_transform(X_train)

 X_test = scaler.transform(X_test)

In [ ]:
# ova e XGBoost
from xgboost import XGBClassifier

model = XGBClassifier() #so defaultni vrednosti

model.fit(X_train, Y_train) #samo fit, nema transofrm

y_pred = model.predict(X_test)

In [ ]:
from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix, f1_score


print("Accuracy:", metrics.accuracy_score(Y_test, y_pred))
print(confusion_matrix(Y_test, y_pred) )
print(classification_report(Y_test, y_pred) )
print(f1_score(Y_test, y_pred))

Accuracy: 0.9927272727272727
[[150   0]
 [  2 123]]
              precision    recall  f1-score   support

           0       0.99      1.00      0.99       150
           1       1.00      0.98      0.99       125

    accuracy                           0.99       275
   macro avg       0.99      0.99      0.99       275
weighted avg       0.99      0.99      0.99       275

0.9919354838709677

In [ ]:
#da vidime kako e so nekoj od parametrite

model2 = XGBClassifier(max_depth=50, min_child_weight=1, n_estimators=200, n_jobs=-1, verbose=1, learning_rate=0.16)
model2.fit(X_train, Y_train)

y_pred2 = model2.predict(X_test)

In [ ]:
from sklearn import metrics

print("Accuracy:", metrics.accuracy_score(Y_test, y_pred2)) #vaka gledame deka imame razlicni, moze da se podobri/polosi vo zavinost od modelot

Accuracy: 0.9890909090909091

Regresija

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/II kolokvium vnp-aud/train.csv')

In [ ]:
# iako rabotat so kategoriski promenlivi, namesto da gi predprocesirame site
#ke gi zememe samo onie koloni koi ni se potrebni

y = data.SalePrice
X = data.drop(['SalePrice'], axis=1).select_dtypes(exclude=['object']) #so ova exlude objekt gi isklucuvame tie sto se kategoriski

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.25)

In [ ]:
X_train.isna().sum() #dali ima null

Id                 0
MSSubClass         0
LotFrontage      212
LotArea            0
OverallQual        0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
MasVnrArea         7
BsmtFinSF1         0
BsmtFinSF2         0
BsmtUnfSF          0
TotalBsmtSF        0
1stFlrSF           0
2ndFlrSF           0
LowQualFinSF       0
GrLivArea          0
BsmtFullBath       0
BsmtHalfBath       0
FullBath           0
HalfBath           0
BedroomAbvGr       0
KitchenAbvGr       0
TotRmsAbvGrd       0
Fireplaces         0
GarageYrBlt       57
GarageCars         0
GarageArea         0
WoodDeckSF         0
OpenPorchSF        0
EnclosedPorch      0
3SsnPorch          0
ScreenPorch        0
PoolArea           0
MiscVal            0
MoSold             0
YrSold             0
dtype: int64

In [ ]:
# najednostavno ke gi zamenime so mean

from sklearn.impute import SimpleImputer
import numpy as np

imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_test)

In [ ]:
from xgboost import XGBRegressor

model = XGBRegressor() #default
model.fit(X_train, Y_train)

y_pred = model.predict(X_test)

[20:38:43] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

print("Mean Absolute Error : " + str(mean_absolute_error(y_pred, Y_test)))
print("Mean Squared Error : " + str(mean_squared_error(y_pred, Y_test)))
print("Root Mean Squared Error : " + str(np.sqrt(mean_squared_error(y_pred, Y_test))))
print("R2 score: " + str(r2_score(y_pred, Y_test)))

NameError: ignored

In [ ]:
# da vidime so parametri

model2 = XGBRegressor(objective ='reg:linear',colsample_bytree=0.3,learning_rate=0.1,max_depth=5,alpha=2,n_estimators=10)
model2.fit(X_train, Y_train)

y_pred2= model.predict(X_test)

[20:38:43] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [ ]:
print("Mean Absolute Error : " + str(mean_absolute_error(y_pred2, Y_test)))
print("Mean Squared Error : " + str(mean_squared_error(y_pred2, Y_test)))
print("Root Mean Squared Error : " + str(np.sqrt(mean_squared_error(y_pred2, Y_test))))
print("R2 score: " + str(r2_score(y_pred2, Y_test)))

Mean Absolute Error : 17706.61527183219
Mean Squared Error : 1096187303.0698638
Root Mean Squared Error : 33108.71944170997
R2 score: 0.7934164977325534